body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "desktop-nav"
    "main"
    "section"
    "footer";
  background: #a9cd77;
  font-family: sans-serif;
}

/* Mobile Nav */


/* Navigation */
div.nav {
  display: none;
}

div.nav-wrapper {
  width: 100%;
  max-width: 950px;
  margin: 0px auto;
}

div.desktop-nav {
  display: none;
  justify-content: space-between;
  padding: 25px;
  z-index: 2;
  background: none;
}

div.left-nav {
  display: inline-flex;
  align-items: center;
  color: white;
  opacity: 1;
}

img.discord-logo {
  height: 35px;
  position: relative;
  bottom: 4px;
  margin-right: 20px;
}

ul.desktop-main-nav {
  display: inline-flex;
  color: white;
  opacity: 1;
}

li.stay-open-developers {
  padding-bottom: 20px;
}

li.stay-open-community {
  padding-bottom: 20px;
}

li.stay-open-support {
  padding-bottom: 20px;
}

ul.desktop-main-nav li.stay-open-developers:hover>ul.desktop-subnav-developers {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: absolute;
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 332;
  top: 30px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 5px;
  width: 140px;
  z-index: 1000;
}

ul.desktop-subnav-developers {
  display: none;
  position: fixed;
}

ul.desktop-main-nav li.stay-open-community:hover>ul.desktop-subnav-community {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: absolute;
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 425px;
  top: 30px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 5px;
  width: 140px;
}

ul.desktop-subnav-community {
  display: none;
  position: fixed;
}

ul.desktop-main-nav li.stay-open-support:hover>ul.desktop-subnav-support {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: absolute;
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 520px;
  top: 30px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 5px;
  width: 140px;
}

ul.desktop-subnav-support {
  display: none;
  position: fixed;
}

li.desktop-subnav {
  position: relative;
  color: #2C2F33;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 100%;
}

ul.desktop-main-nav li {
  opacity: .9;
}

ul.desktop-main-nav li:hover {
  opacity: 1;
}

li {
  padding-left: 15px;
  padding-right: 15px;
}

nav.social-nav {
  display: inline-flex;
  align-items: center;
  position: relative;
  bottom: 5px;
}

ul.social-nav {
  display: none
}

ul.social-nav li {
  opacity: .9;
}

ul.social-nav li:hover {
  opacity: 1;
}

nav.social-nav button {
  display: none;
  border: 2px white solid;
  border-radius: 25px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  opacity: .8;
  font-size: 14px;
}

nav.social-nav button:hover {
  opacity: 1;
}

button.social-nav {
  font-size: 14px;
  color: #fff;
  padding: 5px 17px 7px;
  margin-left: 5px;
  margin-right: 25px;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 1;
}

div.hr {
  display: none;
  width: 2px;
  height: 15px;
  color: white;
  background: white;
  margin-left: 20px;
  margin-right: 10px;
  align-self: center;
  opacity: .4;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div.hero {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  max-width: 514px;
  position: relative;
  right: 0px;
  bottom: 800px;
  margin-bottom: -310px;
}

main div.how-it-works {
  min-height: 1300px;
  width: 95%;
  max-width: 950px;
  background-color: white;
  z-index: 1;
  position: relative;
  bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 73px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 73px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 0px 73px 5px rgba(0, 0, 0, 0.31);
  margin-bottom: -300px;
}

main div.how-it-works h2 {
  color: #18191c;
  font-size: 32px;
  font-weight: lighter;
  text-shadow: none;
  text-align: center;
  outline: none;
  max-width: none;
  line-height: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}

main div.how-it-works h4 {
  color: #7289da;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  padding-top: 20px;
}

p {
  color: #18191c;
  font-size: 16px;
  line-height: 23px;
}

div.three-across {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

div.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.step img {
  height: 125px;
  width: 125px;
}

main div.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
  width: 100%;
  margin-top: 60px;
  background-color: #18191c;
  z-index: 2;
  padding-bottom: 600px;
  background-image: url(https://discordapp.com/assets/57796309d31c3db2840b7444eac53945.svg);
  background-size: cover;
  background-position: 100% 100%;
}

main div.features img {
  width: 50%;
  height: 100%;
  padding: 20px;
}

main div.features h2 {
  color: #fff;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  text-shadow: none;
  outline: none;
  min-width: 320px;
  line-height: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
  width: 100%;
  margin: auto;
}

div.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

div.feature-description h3 {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

div.feature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 20px;
  text-align: center;
}

div.feature-description p {
  color: #b9bbbe;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

main div.features img.revenue {
  min-width: 300px;
  width: 90%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: -1;
}

main div.features img.one {
  min-width: 300px;
  width: 90%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: -1;
}

main div.features img.alpha {
  min-width: 300px;
  width: 70%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: -1;
}

main div.features img.decisions {
  min-width: 300px;
  width: 90%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: -1;
}

main div.features img.home {
  min-width: 300px;
  width: 90%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: -1;
}

svg.top {
  height: 1000px;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  position: absolute;
  left: 50%;
  top: 1425px;
  z-index: -1;
}

svg.bb {
  width: calc(100% + 2px);
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
  bottom: 500px;
  z-index: 100;
  margin-bottom: -500px;
}

div.blue {
  display: ;
  width: 100%;
  background-color: #7289DA;
  z-index: 3;
  margin: auto;
  position: relative;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

svg.blue {
  height: auto;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  position: tr;
  left: 50%;
  bottom: 1300px;
  z-index: 4;
}

div#blue-feature {
  padding-bottom: 80px;
  z-index: 5;
}

div#blue {
  background-color: #7289DA;
  max-width: ;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  z-index: 3;
  background-image: url(https://discordapp.com/assets/3335d2c1008f390bd3874f83293199e3.svg);
  background-size: cover;
}

div#blue div.feature div.feature-description p {
  color: #c7d0f0;
  z-index: 5;
}

div.feature img.sub {
  min-width: 300px;
    width: 100%;
      height: 100%;
  z-index: 5;
  padding: 0px;
}

div.feature img.viral {
min-width: 300px;
  width: 100%;
  height: 100%;
  padding: 0px;
  z-index: 5;
  order: -1
}

h2.blue {
  color: #fff;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  text-shadow: none;
  outline: none;
  line-height: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  z-index: 6;
}

img.blue-background-1 {
  display: none;
  position: relative;
  z-index: 3;
  width: 100%;
  bottom: 1000px;
}

div.blue-background-1 {
  background-image: url(https://discordapp.com/assets/3335d2c1008f390bd3874f83293199e3.svg);
  position: absolute;
  background-position: bottom;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 3;
  opacity: .5;
  height: 100%;
}

div.magic {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 35%, rgba(0, 0, 0, 0.75878299689441) 60%, rgba(0, 0, 0, 1) 83%), url(https://discordapp.com/assets/dcf367432fe24b11a56fd6494873d880.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-position: -300px center;
}

div.magic h2 {
  color: #fff;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  text-shadow: none;
  outline: none;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 950px;
}

div.tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 950px;
}

div.tile {
  background-color: #18191c;
  margin: 10px;
  padding: 30px;
  height: 325px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.tile img {
  height: 160px;
  width: 160px;
}

div.tile p {
  color: #dcddde;
  padding-top: 20px;
}

div.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f7
}

div.shop p {
  color: #f6f6f7;
  padding: 30px;
}

div.shop h3 {
  padding: 30px;
  font-size: 32px;
  font-weight: 600;
}

div.shop button {}

div.shop a {
  color: #00b0f4;
}

p#subtitle {
  color: #4f545c;
  font-size: 12px;
  text-align: center;
}

main h1 {
  color: white;
  font-size: 36px;
  text-shadow: 0 3px 24px #8ab059, 0 1px 1px rgba(24, 25, 28, .3);
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 45px;
  width: 100%;
  min-width: 300px;
  padding-left: 20px;
}

main h2 {
  color: white;
  font-size: 20px;
  text-shadow: 0 2px 18px #8ab059, 0 1px 1px rgba(24, 25, 28, .3);
  max-width: 500px;
  width: 100%;
  min-width: 300px;
  line-height: 30px;
  padding-bottom: 20px;
  word-wrap: break-word;
  text-align: left;
  padding-left: 20px;
}

main button {
  background-color: #7289DA;
  border: 1px solid #7289DA;
  border-radius: 3px;
  height: 45px;
  width: 125px;
  font-size: 14px;
  color: #fff;
  margin-left: 20px;
}

main button:hover {
  transform: translateY(-1px);
}

div.video {
  position: relative;
  bottom: 100px;
  width: 100%;
  height: 900px;
  z-index: -1;
  margin-bottom: -100px;
  background-image: url(https://discordapp.com/assets/ade7b5369293c0be0b0aa3795b16071f.jpg);
  background-size: cover;
  background-position: -660px 0px;
  background-repeat: no-repeat;
}

video {
  display: none;
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #18191c;
}

nav.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "logo . product"
    "developers . resource"
    "company . more";
  grid-gap: 15px;
  margin-bottom: 15px;
}

div.footer-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

img.footer-logo {
  height: 50px;
  width: 50px;
}

div.footer-product {
  grid-area: product;
}

div.footer-developers {
  grid-area: developers;
  margin-top: 20px;
}

div.footer-resources {
  grid-area: resource;
  margin-top: 20px;
}

div.footer-company {
  grid-area: company;
  margin-top: 20px;
}

div.footer-more {
  grid-area: more;
  margin-top: 20px;
}

h5 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

li {
  color: #fff;
  font-size: 14px;
  opacity: .6;
  padding: 3px;
  text-align: center;
}

li:hover {
  opacity: 1;
}

hr {
  height: 1px;
  width: 99%;
  opacity: .1;
  margin-bottom: 35px;
  background-image: url(https://discordapp.com//assets/ffa0a8d74568beaa8ec72dd51951685c.svg);
}

div.try-discord {
  text-align: center;
}

h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
}

h4 {
  color: #eeeeee;
  opacity: .6;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 15px;
}

button.footer-open-discord {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  height: 45px;
  width: 125px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #7289da;
}

button.footer-open-discord:hover {
  transform: translateY(-1px);
}
